// define output values
// call floor function on input-number
// convert input-string to uppercase
// calculate length of array1
// join array 1 and array 2
// lighten color1 by 50%

$input-number: 6.5;
$input-string: "fresco";
$input-array1: 1 2 3;
$input-array2: 4 5 6;
$input-color1: rgb(0, 0, 200);
$output-number-floor: floor($input-number);
$output-string-upper: to-upper-case($input-string);
$output-array1-length: length($input-array1);
$output-arrayjoin: join($input-array1, $input-array2, auto );
$output-color1-lighten: lighten($input-color1,50%);

// required styles for input/output

body {
  font-family: Sans-Serif;
  margin: 0 20px;
}

section {
  padding: 2px;
}

.color-block::after {
  content: "";

  display: inline-block;
  width: 15px;
  height: 15px;
}

.input-number::after {
  content: "#{$input-number}";
}

.input-string::after {
  content: "#{$input-string}";
}

.input-array1::after {
  content: "#{$input-array1}";
}

.input-array2::after {
  content: "#{$input-array2}";
}

.input-color1::after {
  background: $input-color1;
}

.output-number-floor::after {
  content: "#{$output-number-floor}";
}

.output-string-upper::after {
  content: "#{$output-string-upper}";
}

.output-array1-length::after {
  content: "#{$output-array1-length}";
}

.output-array1-and-array2-join::after {
  content: "#{$output-arrayjoin}";
}

.output-color1-lighten::after {
  background: $output-color1-lighten;
}
